<div class="modal-header">
    <h4 class="text">Select Attendees</h4>
    <button type="button" class="close" ng-click="attendeeModal.cancel()">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body disable-x-scroll">
    <table class="table table-sm table-striped filter-table table-fixed table-bordered header-fixed"
        style="table-layout: fixed">
        <thead class="cst-thead">
            <tr>
                <th style="width: 10%">#</th>
                <th style="width: 25%">Name</th>
                <th style="width: 40%">Location</th>
                <th style="width: 15%">Status</th>
                <th style="width: 10%">Action
                    <input type="checkbox"
                        data-ng-model="attendeeModal.selectedAll"
                        ng-click="attendeeModal.checkAll()">
                </th>
            </tr>
        </thead>
        <tbody class="cst-tbody">
            <tr ng-repeat="attendee in attendeeModal.attendees | orderBy:'type':true">
                <td>{{$index + 1}}</td>
                <td>{{::attendee.name}}</td>
                <td style="word-wrap: break-word;">{{::attendee.location}}</td>
                <td>{{::attendee.type | uppercase}}</td>
                <td>
                    <label class="control control-checkbox">
                        <input ng-disabled="attendee.type == 'completed'"
                            ng-checked="attendeeModal.isUnchecked(attendee.id)" type="checkbox"
                            ng-click="attendeeModal.check($event.target.checked,attendee.id)">
                        <div class="control_indicator"></div>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="attendeeModal.submit()">Submit</button>
    <button type="button" class="btn btn-secondary" ng-click="attendeeModal.cancel()">Close</button>
</div>
