<div class="login-wrapper">
    <div class="login-form text-center">
        <img alt="image" src="img/medplat.png" style="height: 60px;">
        <h3 class="forgot-password-header login-header "><span class="ml-1">Forgot Password</span></h3>
        <div class="text-center bottom-spacer-10">
            <div class="list-group-item-text alert alert-danger" ng-show="forgetpass.hasAuthError">
                {{forgetpass.errorMessage}}
            </div>
        </div>
        <div class="inline-form">
            <form class="" name="forgetpass.forgetpassForm" novalidate autocomplete="off">
                <div class="form-group" ng-if="forgetpass.generateOtpFlag || forgetpass.verifyOtpFlag">
                    <validate for='username' required-msg="*Username is required">
                        <input type="text" class="form-control cst-form-control" placeholder="Username" form-control
                            style="width:calc(100% - 1px)" ng-model="forgetpass.username" name="username"
                            ng-disabled="forgetpass.verifyOtpFlag" required autocomplete="off">
                        <placeholder></placeholder>
                    </validate>
                </div>
                <div class="form-group" ng-if="forgetpass.changePasswordFlag">
                    <input type="password" class="form-control cst-form-control" placeholder="New Password" form-control
                        style="width:calc(100% - 1px)" id="newPassword"
                        ng-class="{'is-invalid':forgetpass.errorFlag || forgetpass.newPassword.length < 8}"
                        ng-change="forgetpass.checkPassword();forgetpass.errorFlag = false"
                        ng-model="forgetpass.newPassword" name="newPassword" autocomplete="off" required>
                    <meter max="4" id="password-strength-meter" style="margin-bottom: 0px;"></meter>
                    <p id="password-strength-text"></p>
                    <ng-messages for="forgetpass.forgetpassForm.newPassword.$error">
                        <ng-message when="required"
                            ng-if="(forgetpass.forgetpassForm.newPassword.$invalid && forgetpass.forgetpassForm.newPassword.$dirty) || forgetpass.errorFlag">
                            <span class="alert alert-danger valid-feedback">
                                *Password is required
                            </span>
                        </ng-message>
                        <ng-message when="minlength"
                            ng-if="(forgetpass.forgetpassForm.newPassword.$invalid && forgetpass.forgetpassForm.newPassword.$dirty) || (forgetpass.forgetpassForm.newPassword.$invalid && forgetpass.forgetpassForm.$submitted)">
                            <span class="alert alert-danger valid-feedback">
                                Password is invalid
                            </span>
                        </ng-message>
                    </ng-messages>
                </div>
                <div class="form-group" ng-if="forgetpass.verifyOtpFlag">
                    <div class="input-group" style="width:calc(100% - 1px)">
                        <input type="text" class="form-control cst-form-control" placeholder="Enter OTP" form-control
                            style="width:calc(100%-50px)" ng-class="{'is-invalid':forgetpass.errorFlag}"
                            ng-model="forgetpass.otp" ng-change="forgetpass.errorFlag = false" name="otp"
                            style="width:55%" required minlength="4" maxlength="4">
                        <ng-messages for="forgetpass.forgetpassForm.otp.$error">
                            <ng-message when="required"
                                ng-if="(forgetpass.forgetpassForm.otp.$invalid && forgetpass.forgetpassForm.otp.$dirty) || forgetpass.errorFlag">
                                <span class="alert alert-danger valid-feedback">
                                    *OTP is required
                                </span>
                            </ng-message>
                            <ng-message when="minlength || maxlength"
                                ng-if="(forgetpass.forgetpassForm.otp.$invalid && forgetpass.forgetpassForm.otp.$dirty) || (forgetpass.forgetpassForm.otp.$invalid && forgetpass.forgetpassForm.$submitted)">
                                <span class="alert alert-danger valid-feedback">OTP should be of 4
                                    digits</span>
                            </ng-message>
                        </ng-messages>
                        <div class="input-group-append">
                            <button class="btn btn-primary" name='regenerate' type="button"
                                ng-click="forgetpass.generateOTP(forgetpass.username)"
                                ng-disabled="forgetpass.incorrectOtp"
                                ng-disabled="!forgetpass.regenerateOtpButton">Regenerate</button>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="forgetpass.changePasswordFlag">
                    <input type="password" class="form-control cst-form-control" placeholder="Confirm New Password"
                        form-control style="width:calc(100% - 1px)"
                        ng-class="{'is-invalid':forgetpass.errorFlag || (forgetpass.newPassword !== forgetpass.confirmNewPassword && forgetpass.newPassword.length >= 4 && forgetpass.confirmNewPassword.length > 0)}"
                        ng-model="forgetpass.confirmNewPassword" name="confirmNewPassword" required>
                    <span
                        ng-class="{'has-error bottom-10 has-feedback': forgetpass.forgetpassForm.confirmNewPassword.$invalid}"
                        ng-show="forgetpass.forgetpassForm.confirmNewPassword.$dirty && forgetpass.forgetpassForm.confirmNewPassword.$invalid || forgetpass.errorFlag"
                        class="pull-left">
                        <span class="alert alert-danger valid-feedback"
                            ng-show="forgetpass.forgetpassForm.confirmNewPassword.$error.required">*Confirm Password is
                            required</span>
                    </span>
                    <span class="alert alert-danger valid-feedback"
                        ng-if="forgetpass.newPassword !== forgetpass.confirmNewPassword && forgetpass.newPassword.length >= 4 && forgetpass.confirmNewPassword.length > 0">*Confirm
                        Password does'nt match
                    </span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-forgetpass"
                        ng-if="forgetpass.generateOtpFlag" ng-click="forgetpass.generateOTP(forgetpass.username)"> GET
                        OTP</button>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-forgetpass"
                        ng-if="forgetpass.verifyOtpFlag" ng-disabled="forgetpass.incorrectOtp"
                        ng-click="forgetpass.verifyOtp(forgetpass.username, forgetpass.otp)">Submit</button>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-forgetpass"
                        ng-if="forgetpass.changePasswordFlag"
                        ng-click="forgetpass.resetPassword(forgetpass.otp, forgetpass.newPassword, forgetpass.confirmNewPassword, forgetpass.username)">Submit</button>
                </div>
                <hr class="login-hr">
                <!-- <ul class="logo-list d-block text-center">
                    <li ng-repeat="imageData in forgetpass.logoImages">
                        <a href="{{imageData.link}}" target="_blank" border="0">
                            <img alt="image" src="{{imageData.source}}">
                        </a>
                    </li>
                </ul> -->
                <p style="text-align: justify;">
                    <i>A low code comprehensive Primary Healthcare management Platform to track, manage and improve SDG 3 indicators especially in a public health context</i>
                </p>
                
                <!-- <img alt="image" src="img/medplat.png" style="height: 50px;" class="mt-5 mx-auto d-block"> -->
            </form>
        </div>
    </div>
</div>