<form name="resetPassword.passwordForm" novalidate="" autocomplete="off">
    <div class="modal-header">
        <h4 class="text">Change Password
        </h4>
        <button type="button" ng-if="resetPassword.user.showCancel" class="close" ng-click="resetPassword.cancel()">
            <span aria-hidden="true">×</span>
        </button>

    </div>
    <div class="modal-body">
        <div class="form-group" ng-if="resetPassword.changePass">
            <label for="exampleFormControlInput1">Old Password<span class="required-asterisk">*</span></label>
            <input type="password" class="form-control cst-form-control" name="oldpassword" placeholder="Old Password"
                ng-model="resetPassword.oldpassword" maxlength="50" required>
            <ng-messages for="resetPassword.passwordForm.oldpassword.$error">
                <ng-message when="required"
                    ng-if="(resetPassword.passwordForm.oldpassword.$invalid && resetPassword.passwordForm.oldpassword.$dirty) || (resetPassword.passwordForm.oldpassword.$invalid && resetPassword.passwordForm.$submitted)">
                    <span class="alert alert-danger valid-feedback">
                        Enter Old Password
                    </span>
                </ng-message>
            </ng-messages>
        </div>

        
        <div class="form-group">
            <label for="exampleFormControlInput1">New Password<span class="required-asterisk">*</span></label>
            <input type="password" class="form-control cst-form-control" name="password" placeholder="New Password"
                ng-change="resetPassword.checkPassword()" autocomplete="off" id="password" ng-model="resetPassword.password"
                required>
            <meter max="4" id="password-strength-meter" style="margin-bottom: 0px;"></meter>
            <p id="password-strength-text"></p>
            <ng-messages for="resetPassword.passwordForm.password.$error">
                <ng-message when="required"
                    ng-if="(resetPassword.passwordForm.password.$invalid && resetPassword.passwordForm.password.$dirty) || (resetPassword.passwordForm.password.$invalid && resetPassword.passwordForm.$submitted)">
                    <span class="alert alert-danger valid-feedback">
                        Enter New Password
                    </span>
                </ng-message>
                <ng-message when="minlength"
                    ng-if="(resetPassword.passwordForm.password.$invalid && resetPassword.passwordForm.password.$dirty) || (resetPassword.passwordForm.password.$invalid && resetPassword.passwordForm.$submitted)">
                    <span class="alert alert-danger valid-feedback">
                        Password is invalid
                    </span>
                </ng-message>
            </ng-messages>
        </div>
        <div class="form-group">

            <label for="exampleFormControlInput1">Confirm Password<span class="required-asterisk">*</span></label>
            <input type="password" class="form-control cst-form-control" name="cpassword" placeholder="Confirm Password"
                ng-model="resetPassword.cpassword" maxlength="50" required autocomplete="off">
            <ng-messages for="resetPassword.passwordForm.cpassword.$error"
                ng-if="resetPassword.passwordForm.$submitted">
                <div ng-message="required" class="text-danger">

                    <span class="alert alert-danger valid-feedback">Enter password again
                    </span>
                </div>
            </ng-messages>
            <div
                ng-show="resetPassword.password && resetPassword.cpassword && (resetPassword.password !== resetPassword.cpassword)">
                <span class="alert alert-danger valid-feedback">
                    New Password and confirm password does not match
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
            ng-click="resetPassword.save(resetPassword.oldpassword, resetPassword.password)">Save</button>
        <button class="btn btn-secondary" ng-click="resetPassword.cancel()" ng-if="resetPassword.user.showCancel">Cancel</button>
    </div>
</form>