<style>
    .cursor-pointer {
        cursor: pointer;
    }

    .info label {
        font-weight: 500;
        margin-bottom: 5px;
        display: flex;
    }

    .info label span.info_type {
        /*width: 200px;*/
        font-weight: bold;
    }

    .info label span.data {
        font-weight: normal;
        margin-left: 2px;
    }

    .nopadding {
        padding: 0px;
        margin: 2px;
    }

    .info ul {
        list-style-type: none;
    }
</style>
<div class="container-fluid">
    <div class="box cst-tab mb-15">
        <div class="tab-content">
            <div class="container-fluid  py-3">
                <div class="box-header d-flex justify-content-between">
                    <h4 class="sub-title">Patient's Information</h4>
                    <div class="text-center">
                        <a href="javascript:void(0)" ng-click="ctrl.printPatientSummary()" class="btn btn-primary mt-1">
                            <em class="ion-printer mr-2"></em>
                            Patient Summary
                        </a>
                    </div>
                </div>
                <div class="d-flex">
                    <div class=" box-body  w-50 br-1">
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Patient's Name:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.member.name}}
                                        </span>
                                    </li>
                                    <li><span class="info_type">Age/Sex:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.member.basicDetails.age}}/{{ctrl.member.basicDetails.gender}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </div>
                    <div class="w-50 ml-3">
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Member Id:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.member.basicDetails.uniqueHealthId | emptylabel}}
                                        </span>
                                    </li>
                                    <li><span class="info_type">Family Id:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.member.basicDetails.familyId | emptylabel}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="tabbable boxed parentTabs cst-tab ">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="patientSummary">
                        <div class="row mt-0 ">
                            <div class="col-xl-12 ">
                                <div class="tabbable cst-tab ">
                                    <div class="tab-content bxb-0 ">
                                        <div class="tab-pane fade active in " id="examination-4">
                                            <div class="container-fluid py-3">
                                                <form role="form" name="ctrl.patientSummary" id="patientSummary"
                                                    novalidate>
                                                    <div class="row">
                                                        <div class="col-12 mb-2 d-flex justify-content-between">
                                                            <h4>Patient Diagnosis History
                                                            </h4>
                                                        </div>
                                                        <div class="col-12">
                                                            <div style="padding: 4px;">
                                                                <div ng-if="ctrl.visitData[disease].history.length>0"
                                                                    class="cst-table table-responsive table-set-height"
                                                                    ng-repeat="disease in ctrl.diseases">
                                                                    <h4 class="sub-title mt-2">
                                                                        {{ctrl.visitData[disease].name}}</h4>
                                                                    <table
                                                                        class="table table-sm table-striped table-bordered header-fixed">
                                                                        <thead class="cst-thead">
                                                                            <tr>
                                                                                <th style="width: 20%;" id="diagnosedOn"
                                                                                    class="table-heading">Diagnosed On
                                                                                </th>
                                                                                <th style="width: 25%;" id="diagnosis"
                                                                                    class="table-heading">Diagnosis</th>
                                                                                <th style="width: 30%;" id="readings"
                                                                                    class="table-heading">Readings</th>
                                                                                <th style="width: 20%;" id="diagnosedBy"
                                                                                    class="table-heading">Diagnosed By
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr
                                                                                ng-repeat="th in ctrl.visitData[disease].history">
                                                                                <td
                                                                                    ng-bind="th.visit_date | date: angularDateFormat">
                                                                                </td>
                                                                                <td ng-bind="th.status"></td>
                                                                                <td ng-bind="th.reading | emptylabel">
                                                                                </td>
                                                                                <td ng-bind="th.DiagnosedBy"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div ng-if="ctrl.visitData[disease].history.length==0"
                                                                    class="no-data-placeholder">
                                                                    <h5>No Records Found</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="tabbable boxed parentTabs cst-tab ">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="patientMedicine">
                        <div class="row mt-0 ">
                            <div class="col-xl-12 ">
                                <div class="tabbable cst-tab ">
                                    <div class="tab-content bxb-0 ">
                                        <div class="tab-pane fade active in " id="examination-4">
                                            <div class="container-fluid py-3">
                                                <form role="form" name="ctrl.patientMedicine" id="patientMedicine"
                                                    novalidate>
                                                    <div class="row">
                                                        <div class="col-12 mb-2 d-flex justify-content-between">
                                                            <h4>Patient Medicine History
                                                            </h4>
                                                        </div>
                                                        <div class="col-12">
                                                            <div style="padding: 4px;">
                                                                <div
                                                                    class="cst-table table-responsive table-set-height">
                                                                    <table
                                                                        class="table table-sm table-striped table-bordered header-fixed">
                                                                        <thead class="cst-thead">
                                                                            <tr>
                                                                                <th class="table-heading">
                                                                                    Medicine Name</th>
                                                                                <th class="table-heading">
                                                                                    Start Date</th>
                                                                                <th class="table-heading">
                                                                                    Frequency
                                                                                </th>
                                                                                <th class="table-heading">
                                                                                    Duration
                                                                                </th>
                                                                                <th class="table-heading">
                                                                                    Quantity
                                                                                </th>
                                                                                <th class="table-heading">
                                                                                    Special
                                                                                    Instruction
                                                                                </th>
                                                                                <th class="table-heading">Last
                                                                                    day of Medicine
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr
                                                                                ng-repeat="item in ctrl.prescribedMedicine">
                                                                                <td ng-bind="item.medicineName"></td>
                                                                                <td
                                                                                    ng-bind="item.startDate | date:'dd/MM/yyyy'">
                                                                                </td>
                                                                                <td ng-bind="item.frequency"></td>
                                                                                <td ng-bind="item.duration"></td>
                                                                                <td ng-bind="item.quantity"></td>
                                                                                <td
                                                                                    ng-bind="item.specialInstruction ? item.specialInstruction : '-'">
                                                                                </td>
                                                                                <td
                                                                                    ng-bind="item.expiryDate | date:'dd/MM/yyyy'">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div style="padding: 4px;">
                                                                <div ng-if="ctrl.prescribedMedicine.length==0"
                                                                    style="text-align: center; border: 1px solid #dfdfdf !important; padding: 5px;">
                                                                    <h5>No Records Found</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="tabbable boxed parentTabs cst-tab ">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="patientInvestigation">
                        <div class="row mt-0 ">
                            <div class="col-xl-12 ">
                                <div class="tabbable cst-tab ">
                                    <div class="tab-content bxb-0 ">
                                        <div class="tab-pane fade active in " id="examination-4">
                                            <div class="container-fluid py-3">
                                                <form role="form" name="ctrl.patientInvestigation"
                                                    id="patientInvestigation" novalidate>
                                                    <div class="row">
                                                        <div class="col-12 mb-2 d-flex justify-content-between">
                                                            <h4>Patient Investigation History
                                                            </h4>
                                                        </div>
                                                        <div class="col-12">
                                                            <div style="padding: 4px;">
                                                                <div
                                                                    class="cst-table table-responsive table-set-height">
                                                                    <table
                                                                        class="table table-sm table-striped table-bordered header-fixed">
                                                                        <thead class="cst-thead">
                                                                            <tr>
                                                                                <th class="table-heading">
                                                                                    Report Name</th>
                                                                                <th class="table-heading">Type
                                                                                </th>
                                                                                <th class="table-heading">
                                                                                    Screening Date</th>

                                                                                <th class="table-heading">Done By
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr
                                                                                ng-repeat="item in ctrl.investigationList">
                                                                                <td ng-bind="item.report"></td>
                                                                                <td ng-bind="item.type"></td>
                                                                                <td
                                                                                    ng-bind="item.screeningDate | date:'dd/MM/yyyy'">
                                                                                </td>
                                                                                <td ng-bind="item.doneBy"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div style="padding: 4px;">
                                                                <div ng-if="ctrl.investigationList.length==0"
                                                                    style="text-align: center; border: 1px solid #dfdfdf !important; padding: 5px;">
                                                                    <h5>No Records Found</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="display-none" id="printableDiv">
    <ng-include src="'app/ncd/PatientSummary/views/patient-summary-modal.html'"></ng-include>
</div>