<style>
    .cursor-pointer {
        cursor: pointer;
    }

    .info label {
        font-weight: 500;
        margin-bottom: 5px;
        display: flex;
    }

    .info label span.info_type {
        /*width: 200px;*/
        font-weight: bold;
    }

    .info label span.data {
        font-weight: normal;
        margin-left: 2px;
    }

    .nopadding {
        padding: 0px;
        margin: 2px;
    }

    .modal-xl {
        width: 95%;
        height: 95%
    }

    .info ul {
        list-style-type: none;
    }

    .div-disabled {
        pointer-events: none;
        opacity: 50%;
    }
</style>
<div class="container-fluid" ng-init="ctrl.selectedTab = 'ecg'">
    <div class="box cst-tab mb-15">
        <div class="tab-content">
            <div class="container-fluid  py-3">
                <div class="box-header d-flex justify-content-between">
                    <h4 class="sub-title">Patient's Detail</h4>
                    <div class="text-center">
                        <!-- <a href="javascript:void(0)" ng-click="ctrl.printPatientSummary()" class="btn btn-primary mt-1">
                            Patient Summary
                        </a> -->
                    </div>
                </div>
                <div class="d-flex">
                    <div class="box-body col-2 br-1">
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Patient's Name:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.member_name}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Unique health id:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.unique_health_id}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </div>
                    <div class="box-body col-2 br-1">
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Age/Sex:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.age}}/{{ctrl.memberDetails.gender}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">BMI:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberAdditionalDetails.bmi | number : 2 | emptylabel}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </div>
                    <div class="box-body col-2 br-1">
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Area name:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.village}}
                                        </span>
                                    </li>
                                    <li><span class="info_type">Health worker name:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.village_health_worker}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Treatment status:</span></li>
                                    <li>
                                        <span class="data" ng-if="ctrl.memberDetails.diabetes_treatment_status">
                                            Diabetes : {{ctrl.memberDetails.diabetes_treatment_status}}
                                        </span>
                                        <span class="data" ng-if="ctrl.memberDetails.hypertension_treatment_status">
                                            Hypertension :
                                            {{ctrl.memberDetails.hypertension_treatment_status}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </div>
                    <div class="box-body col-2 br-1">
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Hypertension(Duration):</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.suffering_hypertension ? 'Yes' +
                                            (ctrl.memberDetails.duration_of_hypertension ?' (' +
                                            ctrl.memberDetails.duration_of_hypertension +' years)':'') : 'No (0 year)'}}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="data">
                                            BP : {{ctrl.memberAdditionalDetails.systolicBp}} /
                                            {{ctrl.memberAdditionalDetails.diastolicBp}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Diabetes(Duration):</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.suffering_diabetes ? 'Yes' +
                                            (ctrl.memberDetails.duration_of_diabetes?' (' +
                                            ctrl.memberDetails.duration_of_diabetes +' years)':'') : 'No (0 year)'}}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="data">
                                            BS : {{ctrl.memberAdditionalDetails.bloodSugar}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </div>
                    <div class="box-body col-2 br-1">
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Tobaco addiction:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.tobacco_addiction?ctrl.memberDetails.tobacco_addiction:'No'}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Smoking addiction:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.smoking_addiction?ctrl.memberDetails.smoking_addiction:'No'}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </div>
                    <div class="box-body col-2 br-1">
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Stroke present:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.stroke?ctrl.memberDetails.stroke:'No'}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                        <div class="info">
                            <label>
                                <ul class="nopadding">
                                    <li><span class="info_type">Symptoms:</span></li>
                                    <li>
                                        <span class="data">
                                            {{ctrl.memberDetails.stroke_symptoms?ctrl.memberDetails.stroke_symptoms:'Not
                                            present'}}
                                        </span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="box-body col-4">
            <div class="info">
                <div class="row">
                    <div class="col-12">
                        <form name="ctrl.screeningDate" role="form">
                            <div class="form-group">
                                <validate for="screeningDate" required-msg="Please select screening date">
                                    <label for="screeningDate" class="control control-label bold pl-0" control-label>
                                        Select Date :
                                    </label>

                                    <input name="screeningDate" type="text" datepicker ng-model="ctrl.date"
                                        ng-change="ctrl.screeningDateChange()" form-control max-date="ctrl.today"
                                        class="mb-2 mobile-width" required />
                                    <placeholder></placeholder>
                                </validate>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="cst-tab">
            <uib-tabset>
                <uib-tab heading="ECG" index=0 ng-click="ctrl.tab('ecg')">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12 input-box">
                                <h6>Patient History</h6>
                                <div class="input-box--inner row">
                                    <div class="col-12" style="text-align: center;">
                                        <button class="btn btn-primary" ng-click="ctrl.showECGGraphModal()"
                                            ng-if="ctrl.showEcgButton">
                                            Show ECG graph
                                        </button>
                                        <button class="btn btn-primary" ng-click="ctrl.showECGPDFReportModal()"
                                            ng-if="ctrl.showEcgPdfButton">
                                            Show ECG PDF/Image Report
                                        </button>
                                        <span class="card-title" ng-if="!ctrl.showEcgButton && !ctrl.showEcgPdfButton">
                                            No ECG data available </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 input-box">
                                <h6>ECG Examination</h6>
                                <div class="input-box--inner inline-form row">
                                    <div class="col-12" style="text-align: center; color: red;" ng-if="ctrl.isRejected">
                                        <span class="card-title">
                                            Cardiologist have rejected the case with below note. </span><br />
                                        <span class="card-title">
                                            {{ctrl.rejectionNote}} </span><br />
                                        <hr>
                                    </div>
                                    <form name="ctrl.ecgForm" role="form" style="width: -webkit-fill-available;"
                                        novalidate>
                                        <div class="form-group">
                                            <validate for="ecgFeedback"
                                                required-msg="Please select from the following options">
                                                <label for="ecgFeedback" class="control control-label bold"
                                                    control-label>
                                                    Please select option from below for ECG report
                                                </label>
                                                <label class="control control-radio"> Satisfactory ECG quality
                                                    <input type="radio" name="ecgFeedback"
                                                        ng-model="ctrl.ecgFormData.needsRetake" ng-value="true"
                                                        ng-disabled="ctrl.isEcgFormSubmitted" form-control required />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <label class="control control-radio"> Unsatisfactory ECG quality and
                                                    needs
                                                    retake
                                                    <input type="radio" name="ecgFeedback"
                                                        ng-model="ctrl.ecgFormData.needsRetake" ng-value="false"
                                                        ng-disabled="ctrl.isEcgFormSubmitted" form-control required />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <placeholder></placeholder>
                                            </validate>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.ecgFormData.needsRetake">
                                            <validate for="oldMI" required-msg="Please select the answer for Old MI">
                                                <label for="oldMI" class="control control-label bold" control-label>
                                                    Old MI
                                                </label>
                                                <label class="control control-radio"> Yes
                                                    <input type="radio" name="oldMI" ng-model="ctrl.ecgFormData.oldMI"
                                                        ng-disabled="ctrl.isEcgFormSubmitted" ng-value="0" form-control
                                                        required />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <label class="control control-radio"> No
                                                    <input type="radio" name="oldMI" ng-model="ctrl.ecgFormData.oldMI"
                                                        ng-disabled="ctrl.isEcgFormSubmitted" ng-value="1" form-control
                                                        required />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <label class="control control-radio"> Not Sure
                                                    <input type="radio" name="oldMI" ng-model="ctrl.ecgFormData.oldMI"
                                                        ng-disabled="ctrl.isEcgFormSubmitted" ng-value="2" form-control
                                                        required />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <placeholder></placeholder>
                                            </validate>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.ecgFormData.needsRetake">
                                            <validate for="lvh" required-msg="Please select option for LVH">
                                                <label for="lvh" class="control control-label bold" control-label>
                                                    LVH
                                                </label>
                                                <label class="control control-radio"> Yes
                                                    <input type="radio" name="lvh" ng-model="ctrl.ecgFormData.lvh"
                                                        ng-disabled="ctrl.isEcgFormSubmitted" ng-value="0" form-control
                                                        required />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <label class="control control-radio"> No
                                                    <input type="radio" name="lvh" ng-model="ctrl.ecgFormData.lvh"
                                                        ng-disabled="ctrl.isEcgFormSubmitted" ng-value="1" form-control
                                                        required />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <label class="control control-radio"> Not Sure
                                                    <input type="radio" name="lvh" ng-model="ctrl.ecgFormData.lvh"
                                                        ng-disabled="ctrl.isEcgFormSubmitted" ng-value="2" form-control
                                                        required />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <placeholder></placeholder>
                                            </validate>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.ecgFormData.needsRetake">
                                            <validate for="type" required-msg="Please enter type">
                                                <label for="type" class="control control-label bold" control-label>
                                                    Type
                                                </label>
                                                <input type="text" name="type" ng-model="ctrl.ecgFormData.type"
                                                    class="form-control cst-form-control" placeholder="Enter Type"
                                                    ng-disabled="ctrl.isEcgFormSubmitted" limit-to="200" form-control
                                                    required />
                                                <placeholder></placeholder>
                                            </validate>
                                        </div>
                                        <div class="button-footer" style="border: 0px;"
                                            ng-if="!ctrl.isEcgFormSubmitted">
                                            <button type="submit" class="btn btn-primary"
                                                ng-click="ctrl.save()">Save</button>
                                            <button class="btn btn-secondary"
                                                ui-sref="techo.ncd.mospecialistList">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="Stroke" index=1 ng-click="ctrl.tab('stroke')">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12 input-box">
                                <h6>Patient History</h6>
                                <div class="input-box--inner row">
                                    <div class="col-12" style="padding: 0;">
                                        <div class="form-group">
                                            <label class="control bold" control-label> Is Stroke Present (MO input)
                                                :</label>
                                            <label class="control-label" form-control> {{ctrl.isStrokePresent}}
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control bold" control-label> Is Stroke Present (Researcher
                                                input) :</label>
                                            <label class="control-label" form-control> {{ctrl.researcherRoleInput}}
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control bold" control-label> Is Stroke Present (Care
                                                coorinator
                                                input) :</label>
                                            <label class="control-label" form-control> {{ctrl.careCoordinatorInput}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 input-box">
                                <h6>Stroke Examination</h6>
                                <div class="input-box--inner inline-form row">
                                    <form name="ctrl.strokeForm" role="form" style="width: -webkit-fill-available;"
                                        novalidate>
                                        <div class=" row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <validate for="strokePresent"
                                                        required-msg="Please select from the following">
                                                        <label for="strokePresent" class="control control-label bold"
                                                            control-label>Is Stroke Present? </label>
                                                        <label class="control control-radio">Yes
                                                            <input type="radio" name="strokePresent"
                                                                ng-model="ctrl.strokeFormData.strokePresent"
                                                                ng-value="true" class="mb-2 mobile-width" form-control
                                                                required ng-disabled="ctrl.isStrokeFormSubmitted">
                                                            <div class="control_indicator"></div>
                                                        </label>
                                                        <label class="control control-radio">No
                                                            <input type="radio" name="strokePresent"
                                                                ng-model="ctrl.strokeFormData.strokePresent"
                                                                ng-value="false" class="mb-2 mobile-width" form-control
                                                                required ng-disabled="ctrl.isStrokeFormSubmitted">
                                                            <div class="control_indicator"></div>
                                                        </label>
                                                        <placeholder></placeholder>
                                                    </validate>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-footer" style="border: 0px;"
                                            ng-if="!ctrl.isStrokeFormSubmitted">
                                            <button type="submit" class="btn btn-primary"
                                                ng-click="ctrl.save()">Save</button>
                                            <button class="btn btn-secondary"
                                                ui-sref="techo.ncd.mospecialistList">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="Amputation" index=2 ng-click="ctrl.tab('amputation')"
                    ng-hide="ctrl.memberDetails.suffering_hypertension && !ctrl.memberDetails.suffering_diabetes">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12 input-box">
                                <h6>Patient History</h6>
                                <div class="input-box--inner row">
                                    <div class="col-12" style="padding: 0;">
                                        <div class="form-group" ng-if="ctrl.isAmputation != null">
                                            <label class="control bold" control-label> Is Amputation due to DM :</label>
                                            <label class="control-label" form-control> {{ctrl.isAmputation}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 input-box">
                                <h6>Amputation Examination</h6>
                                <div class="input-box--inner inline-form row">
                                    <form name="ctrl.amputationForm" role="form" style="width: -webkit-fill-available;"
                                        novalidate>
                                        <div class="form-group">
                                            <validate for="amputationPresent"
                                                required-msg="Please select from the following">
                                                <label for="amputationPresent" class="control control-label bold"
                                                    control-label>
                                                    Amputation due to DM? </label>

                                                <label class="control control-radio">Yes
                                                    <input type="radio" name="amputationPresent" type
                                                        ng-model="ctrl.amputationFormData.amputationPresent"
                                                        ng-value="true" class="mb-2 mobile-width" form-control required
                                                        ng-disabled="ctrl.isAmputationFormSubmitted">
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <label class="control control-radio">No
                                                    <input type="radio" name="amputationPresent"
                                                        ng-model="ctrl.amputationFormData.amputationPresent"
                                                        ng-value="false" class="mb-2 mobile-width" form-control required
                                                        ng-disabled="ctrl.isAmputationFormSubmitted">
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <placeholder></placeholder>
                                            </validate>
                                        </div>
                                        <div class="button-footer" style="border: 0px;"
                                            ng-if="!ctrl.isAmputationFormSubmitted">
                                            <button type="submit" class="btn btn-primary"
                                                ng-click="ctrl.save()">Save</button>
                                            <button class="btn btn-secondary"
                                                ui-sref="techo.ncd.mospecialistList">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="Renal Complications" index=3 ng-click="ctrl.tab('renal')">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12 input-box">
                                <h6>Patient History</h6>
                                <div class="input-box--inner row">
                                    <div class="col-12" style="padding: 0;">
                                        <div class="form-group">
                                            <label class="control bold" control-label> Albumin Level in Urine :</label>
                                            <label class="control-label" form-control>
                                                {{ctrl.albuminLevelInUrine?ctrl.albuminLevelInUrine=='Trace' ? 'TRACE' :
                                                ctrl.albuminLevelInUrine + "+" : "No Data available"}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 input-box">
                                <h6>Renal Complication Examination</h6>
                                <div class="input-box--inner inline-form row">
                                    <form name="ctrl.renalForm" id="renalForm" role="form"
                                        style="width: -webkit-fill-available;" novalidate>
                                        <div class="form-group">
                                            <validate for="sCreatinine" required-msg="Please select from the following">
                                                <label for="sCreatineValue" class="control control-label bold"
                                                    control-label> S-Creatinine done? </label>
                                                <label class="control control-radio"> Yes
                                                    <input type="radio" name="sCreatinine"
                                                        ng-model="ctrl.renalFormData.isSCreatinineDone" ng-value="true"
                                                        form-control required ng-disabled="ctrl.isRenalFormSubmitted" />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <label class="control control-radio"> No
                                                    <input type="radio" name="sCreatinine"
                                                        ng-model="ctrl.renalFormData.isSCreatinineDone" ng-value="false"
                                                        form-control required ng-disabled="ctrl.isRenalFormSubmitted" />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <placeholder></placeholder>
                                            </validate>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.renalFormData.isSCreatinineDone">
                                            <validate for="sCreatineValue" required-msg="Enter S Creatinine Value"
                                                step-msg="Value is allowed upto 2 decimal points">
                                                <label class="control control-label bold" for="sCreatinine"
                                                    control-label> S-Creatinine Value</label>
                                                <input type="number" name="sCreatineValue"
                                                    ng-model="ctrl.renalFormData.sCreatinineValue" min="0.00"
                                                    max="16.00" limit-to="5" class="form-control cst-form-control"
                                                    form-control ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                                    ng-disabled="ctrl.isRenalFormSubmitted" required />
                                                <placeholder></placeholder>
                                            </validate>
                                        </div>
                                        <div class="form-group">
                                            <validate for="renalComplications"
                                                required-msg="Please select from the following">
                                                <label for="type" class="control control-label bold" control-label>
                                                    Renal complication present?
                                                </label>
                                                <label class="control control-radio"> Yes
                                                    <input type="radio" name="renalComplications"
                                                        ng-model="ctrl.renalFormData.isRenalComplicationPresent"
                                                        ng-value="true" form-control required
                                                        ng-disabled="ctrl.isRenalFormSubmitted" />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <label class="control control-radio"> No
                                                    <input type="radio" name="renalComplications"
                                                        ng-model="ctrl.renalFormData.isRenalComplicationPresent"
                                                        ng-value="false" form-control required
                                                        ng-disabled="ctrl.isRenalFormSubmitted" />
                                                    <div class="control_indicator"></div>
                                                </label>
                                                <placeholder></placeholder>
                                            </validate>
                                        </div>
                                        <div class="button-footer" style="border: 0px;"
                                            ng-if="!ctrl.isRenalFormSubmitted">
                                            <button type="submit" class="btn btn-primary"
                                                ng-click="ctrl.save()">Save</button>
                                            <button class="btn btn-secondary"
                                                ui-sref="techo.ncd.mospecialistList">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

            </uib-tabset>
        </div>
    </div>
</div>